@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 47px;
    background-color: #333;
    color: white;
    margin: 23px auto;
    width: 92%;
    border-radius: 12px;
}

nav ul li{
    padding: 0 12px;
}

nav ul li a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-items: center;
}

.btn1{
    border-radius: 10px;
}
  
.btn1:hover {
    opacity: 0.6;
    border-radius: 50px;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 90%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('images/bg.jpg');
    background-image: image();
}

.bottom{
    position: sticky;
    height: 85px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
    margin-bottom: 10px;
}

.icons i{
    cursor: pointer;
}

#backward{
    position: relative;
    left: -10px;
}

#previous{
    position: relative;
    left: -5px;
}

#next{
    position: relative;
    left: 5px;
}

#forward{
    position: relative;
    left: 10px;
}

#play-video{
    position: relative;
    left: 15px;
    color: white;
}

#play-video:hover{
    color: red;
    background: #fff;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
    top: 5px;
}

.songItemContainer{ 
    height: 500px;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}
.songItemContainer::-webkit-scrollbar{
    display: none;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 15px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 15px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    position: relative;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    top: 20px;
}

.songInfo #end{
    position: relative;
    left: 73vw;
    top: -18px;
}

@media only screen and (max-width: 1100px) {
    body{
        background-color: red;
    }
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }
  
  nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: greenyellow;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .songclassification{
    min-height: 10vh;
    background-color: rgb(80, 80, 197);
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: table;
    margin: 23px auto;
    width: 90%;
    border-radius: 12px;
    padding: 25px;
}

.songclassification .languages{
    min-height: 30vh;
    background-color: whitesmoke;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: table;
    margin: 15px auto;
    width: 100%;
    border-radius: 12px;
    padding: 0px;
}

/*.songclassification .categories{
    min-height: 30vh;
    background-color: whitesmoke;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: table;
    margin: 15px auto;
    width: 80%;
    border-radius: 12px;
    padding: 0px;
}

.songclassification .Albums{
    min-height: 30vh;
    background-color: whitesmoke;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: table;
    margin: 15px auto;
    width: 80%;
    border-radius: 12px;
    padding: 0px;
}*/

h3 {
    color: crimson;
    font-weight: bolder;
}

.heading {
    border-radius: 50px;
    background-color: yellow;
    padding: 1px;
    margin: 10px 40px;
}

.searchbox{
    position: relative;
    height: 35px;
    max-width: 55px;
    width: 23%;
    margin: 0 40px;
    border-radius: 25px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

nav ul .searchbox.open{
    max-width: 450px;
}

input{
    position: relative;
    outline: none;
    border: none;
    height: 95%;
    width: 100%;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #3764dd;
    background-color: #fff;
  }

nav ul .searchbox.open{
    padding: 0 15px 0 65px;
}

nav ul .searchbox.open input{
    background-color: #fff;
    border-radius: 25px;
}

.icon{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }

.search-icon,.close-icon{
  position: absolute;
  top: 5%;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-icon{
    top: 15px;
    color: #4070f4;
    transform: translateY(-50%) rotate(90deg);
    cursor: pointer;
  }

.searchbox.open .search-icon{
    transform: translateY(-50%) rotate(0);
    color: #fff;
  }

.searchbox.open .icon{
    background-color: #4070f4;
}

.close-icon{
    right: -25px;
    top: 15px;
    color: #fff;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    cursor: pointer;
  }

.close-icon:hover{
    color: red;
}

.searchbox.open .close-icon{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
  }

  .voice-search{
    position: relative;
    right: -340px;
    top: -20px;
    color: #f90505;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .voice-search:hover{
    color: green;
  }

.searchbox.open .voice-search{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%);
  }

nav ul .search .search_result{
    position: absolute;  
    width: 26%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    left: 42%;
 }

nav ul .search .search_result::-webkit-scrollbar{
    display: none;
 }

nav ul .search .search_result .card{
    width: 100%;
    min-height: 45px;
    display: none;
    align-items: center;
    padding: 0px 5px;
    text-decoration: none;
    background: rgba(184, 184, 184, 0.514);
    margin-bottom: 5px;
 }

nav ul .search .search_result .card:hover{
    background: rgba(34, 33, 33, 0.5);
 }

nav ul .search .search_result .card img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

nav ul .search .search_result .card .content{
    width: 80%;
    height: 100%;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

nav ul .search .search_result .card .content:hover{
    color: #090ded;
}

nav ul .search .search_result .card .songItemPlay{
    color: white;
}

nav ul .search .search_result .card .lyrics{
    display: none;
}

#volumebar{
    width: 100px;
    top: -68px;
    left: 160px;
    cursor: pointer;
    transform: rotate(270deg);
    visibility: hidden;
}

.songInfo .vol{
    display: flex;
    position: relative;
    left: 72vw;
}

.vol-icon{
    cursor: pointer;
    position: relative;
    left: 14.5vw;
}

.vol-icon:hover + #volumebar{
    visibility: visible;
}

.vol-icon:not(:hover) + #volumebar{
    visibility: hidden;
    transition: visibility 3s;
}

.songInfo #masterSongName{
    position: relative;
    top: 15px;
}